@model teste_pratico_sustentacao.Models.Motorista

@{
    ViewData["Title"] = "Detalhes";
}
<h4>Detalhe</h4>

<h1>Motorista</h1>
<form asp-action="Details">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input disabled asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input disabled asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Sobrenome" class="control-label"></label>
                <input disabled asp-for="Sobrenome" class="form-control" />
                <span asp-validation-for="Sobrenome" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input disabled asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input disabled asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input disabled asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Eixos" class="control-label"></label>
                <input disabled asp-for="Eixos" class="form-control" />
                <span asp-validation-for="Eixos" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label asp-for="Rua" class="control-label"></label>
                <input disabled asp-for="Rua" class="form-control" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input disabled asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="CEP" class="control-label"></label>
                <input disabled asp-for="CEP" class="form-control" />
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input disabled asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input disabled asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input disabled asp-for="Pais" class="form-control" />
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr />
            <div class="form-group">
                <div class="btn-group float-right">
                    <a class="btn btn-danger" asp-action="Index">Voltar</a>
                    @Html.ActionLink("Editar","Edit",null,new {id = Model.Id }, new { @class = "btn btn-primary align-middle"})
                </div>
            </div>
        </div>
    </div>
</form>
